{{$fullname := promptString "Full name"}}
{{$email := promptString "Email"}}

{{ $homebrew_with_sudo := promptBool "(IGNORE IF NOT ON A MAC) Install Homebrew with sudo" }}

[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
    homebrew_with_sudo = {{ $homebrew_with_sudo }}

[git]
    autoCommit = true
    autoPush = true  # be careful, in case I accidentally commit and push a secret
