###############################
###############################
# Replacing all '.' with 'dot_'
###############################
###############################


# Created by https://wwwdot_toptaldot_com/developers/gitignore/api/macos,linux,windows
# Edit at https://wwwdot_toptaldot_com/developers/gitignore?templates=macos,linux,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
dot_fuse_hidden*

# KDE directory preferences
dot_directory

# Linux trash folder which might appear on any partition or disk
dot_Trash-*

# dot_nfs files are created when an open file is removed but is still being accessed
dot_nfs*

### macOS ###
# General
dot_DS_Store
dot_AppleDouble
dot_LSOverride

# Icon must end with two \r
Icon


# Thumbnails
dot__*

# Files that might appear in the root of a volume
dot_DocumentRevisions-V100
dot_fseventsd
dot_Spotlight-V100
dot_TemporaryItems
dot_Trashes
dot_VolumeIcondot_icns
dot_comdot_appledot_timemachinedot_donotpresent

# Directories potentially created on remote AFP share
dot_AppleDB
dot_AppleDesktop
Network Trash Folder
Temporary Items
dot_apdisk

### Windows ###
# Windows thumbnail cache files
Thumbsdot_db
Thumbsdot_db:encryptable
ehthumbsdot_db
ehthumbs_vistadot_db

# Dump file
*dot_stackdump

# Folder config file
[Dd]esktopdot_ini

# Recycle Bin used on file shares
$RECYCLEdot_BIN/

# Windows Installer files
*dot_cab
*dot_msi
*dot_msix
*dot_msm
*dot_msp

# Windows shortcuts
*dot_lnk

# End of https://wwwdot_toptaldot_com/developers/gitignore/api/macos,linux,windows







# Created by https://www.toptal.com/developers/gitignore/api/macos,linux,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,linux,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/macos,linux,windows
