{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
{{ if .homebrew_with_sudo -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ else -}}
mkdir .homebrew && curl -L https://github.com/Homebrew/brew/tarball/master | tar xz --strip 1 -C .homebrew
{{ end -}}
{{ end -}}
